// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// css for hover over the navi bar
// li a:hover:not(.active) {
//     color: black;
// }

// main {
//     flex: 1 0 auto;
// }

// ul#nav {
//     text-align: center;
//     display: block;
//     width: 100%;
//     height: 100%;
//     margin-bottom: -10px;
//     padding-top: 10px;
//     padding-bottom: 20px;
//     background-color: #fcfcfc;
// }

// #nav li {
//     display: inline-block;
//     margin-left: 10px;
//     margin-right: 10px;
// }

// #nav li a {
//     text-decoration: none;
//     font-size: 32px;
// }

// body
// {
//   background: url(drinkBG.png);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-attachment: fixed;
//     background-position: center;
//     text-align:center;
//     // width:995px;
//     // margin:0 auto;
//     font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
// }


.upper {
  display:inline-block;
   width: 50%;
    box-sizing: border-box;


}

.lower {
  display:inline-block;
     width: 50%;

}

.checkbox-label {
    display:block;
	width:100%;
	border: 2px solid #ccc;
	background: #f8f8f8;
	border-radius: 2px;
	text-align: center;
	padding: 10px 2rem;
	margin-bottom:5px;
	font-size: 1.1rem;
	// box-shadow:0 0 5px 5px rgba(0,0,0,0.2);

}
.checkbox-label:hover {
    background:#ccc;
}
.checkbox-search {
    position:absolute;
	right:10px;
	top:15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}
.checkbox-search:focus + label {
    outline-width: 2px;
    outline-style: solid;
    outline-color: Highlight;
}

/* WebKit gets its native focus styles.
 */
@media (-webkit-min-device-pixel-ratio:0) {
  .checkbox-search:focus + label {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
  }
}

.checkbox-search:active + label {
    background-color: #ccc;
}
.checkbox-search:checked + label{
    background-position: 0 0;
    background: #4CAF50;
    color: white;
    -webkit-transition: color .25s, background .25s;
    transition: color .25s, background .25s;
}
    section.image2 {
        top: 11px;
        content:url(search_page_image.jpg);
        width: 995px;
        position: relative;
        z-index:2;
    }

.box2 {
    position: relative;
    opacity: 0.97;
    filter: drop-shadow(0 0 0.75rem black);
    border-top: 10px solid #241b26;
    padding-top: 320px;
    padding-bottom: 80px;
    top: -275px;
    background-color: #fcfcfc;
    width: 100%;
    height: auto;
    overflow: auto;
    color: #241b26;
    font-family: Verdana;

    > section.drink_name {
        input[type = text] {
            width: 86%;
            font-size: 1.1em;
            padding: 17px 20px;
            border: 2px solid #ccc;
            background-color: #f8f8f8;
        }
    }
    
    * {
        box-sizing: border-box;
    }
    
    >.box3 {
        width: 33.333333%;
        margin: 0px;
        padding: 10px;
        position: static;
        float: left;
        font-family: Verdana;
        font-size: 20px;
        section.liquor_name, section.mixer_name {
            
            overflow:hidden;
        	position:relative;
        	max-width:200px;
        	margin:auto;
        	padding:5px;

        	section.mixer_name {
        	    margin-left: 5px;
        	}
        }
        
        // section.liquor_name label {
        //     border: 2px solid #ccc;
        //     color: black;
        //     width: 130px;
        //     margin: 1px;
        //     height: 25px;
        //     padding: 2px;
        //     background-color: #f8f8f8;
        //     border-radius: 1px;
        //     display: inline-block;
        //     text-align: left;
        //     font-size: 16px;
        // }

        // section.mixer_name label {
        //     border: 2px solid #ccc;
        //     color: black;
        //     width: 150px;
        //     margin: 1px;
        //     height: 26px;
        //     padding: 2px;
        //     top: 1px;
        //     background-color: #f8f8f8;
        //     border-radius: 1px;
        //     display: inline-block;
        //     text-align: left;
        //     font-size: 16px;
        // }

        > section.drink_flavor {
            margin-left: 5px;
            select {
                margin-top: 6px;
                border: 2px solid #ccc;
                background-color: #f8f8f8;
                color: black;
                padding: 11px 46px 11px 46px;
                width: auto;
                cursor: pointer;
                margin-bottom: 10px;
                font-size: 1em;
            }
        }
    }
}
.search_submit {
    > input[type =button], input[type =submit] {
        z-index: 2;   
        position: relative;
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 16px 20px;
        width: 995px;
        top:-330px;
        font-family: Verdana;
        font-size: 1.2em;
        text-decoration: none;
        cursor: pointer;
    }
}

.padding {
    padding: 20px;
}

* {
    box-sizing: border-box;
}

.results {
    opacity: 0.98;
    filter: drop-shadow(0 0 0.75rem black);
    width: 100%;
    height: auto;
    border-top: 10px solid #241b26;
    background-color: #fcfcfc;
    padding-left: 80px;
    padding-right: 160px;
    top: -300px;
    position: relative;
    .results_region {
        padding-top: 5px;
        text-align: center;
        padding-left: 70px;
        
    }
    .drinkname {
        padding-top: 12px;
        font-weight: bold;
        font-size: 1.2em;
        text-align: center;
    }
    .image{
        content:url(drinkall.jpeg);
        float: right;
    }
    .information_region{
        border-left: 2px solid #241b26;
        padding-left: 6px;
        text-align: left;
        
        .drinkmixer {
            padding-bottom: 10px;
        }
    }

    .drink_result {
        display:block;
	    width:110%;
	    border: 2px solid #ccc;
	    background: #f8f8f8;
	    border-radius: 2px;
	    text-align: center;
	    padding: 1px 1rem;
	    margin-bottom:8px;
	    font-size: 1.2rem;
	    // box-shadow:0 0 5px 5px rgba(0,0,0,0.2);
        height: auto;
        padding-bottom: 30px;
        margin-bottom: 30px;

    }
    .drink_result:hover {
        background:#ccc;
    }
    padding-bottom: 40px;
    margin-bottom: -1180px;
}


