<html>
    <head>
        <meta http-equiv="refresh" content="3; URL='<%= new_drink_path %>'" />
    </head>
    <body>
        <main>
            <section class="success_page">
                <h1>
                    Drink creation successful! Redirecting in three seconds...<br>
                    <%= link_to "click here to redirect manually", new_drink_path %>
                </h1>
            </section>
        </main>
    </body>
</html>

<%= render './footer' %>