<body class="drink_body">
    <main>
        <div class="drink_div">
            <div id="clearfix">
                <section id="PaddingRegionAbove"></section>
                <section class="box", style="z-index: 2", position:"absolute">
                    <h1>WELCOME TO THE DRINK MIXING APP!</h1>
                    <section class="image"></section>
                    
                    <section class="within_home_box">
                        <h2>WHAT IS IT?</h2>
                        
                        <p class="p">This is an application created by The Squad (Group 9-2) of ITSC 3155, 
                        as mentioned in our footer.  You can use this app to quickly find drinks 
                        based on their mixers & liquors, or by a flavor profile, whatever works 
                        for you!
                        </p>
                    
                        <h2>HOW IT WORKS</h2>
                        <p class="p">To get started, simply click the "Search"  button up top! 
                        When in the search section, simply select the search  terms 
                        by clicking the associated checkboxes and hit "submit" to begin the search! 
                        It's that easy!
                        </p>
                        
                    </section>

                </section>
                <section class="box_transparent", style="z-index: 1", position:"absolute"></section>
                <section id="PaddingRegionBelow"></section>
            
            </div>
        </div>
    </main>
</body>

<%= render './footer' %>