<%= javascript_include_tag "results.js" %>

<div class = "TheBackground" >
<%= render 'header' %>
</div>
<div class="BackgroundThing">
  
</div>
<footer>
    <h4>Please Drink Responsibly</h4>
    <p>ITSC 3155     |      The Squad (Group 9-2)       |       University of North Carolina at Charlotte     |     2018</p>
</footer>